@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-size:62.5%;
    }

    * {
        font-family: 'Bebas Neue', 'cursive';
        line-height:normal;
        padding:0;
        margin: 0;
    }

    p {
        font-family: 'Montserrat', sans-serif; 
        font-size:1.7rem;   
        line-height:3rem;
    }

    h1 {
       @apply text-8xl	font-normal	
    }

    h2 {
        
        @apply text-black text-7xl	font-normal	
    }

    h3 {
        @apply text-black text-5xl	font-normal	
    }

    section {
        padding:5rem 0;
    }
}

@layer components {
    .btn {
        @apply border-2 border-black py-4 px-8 text-3xl inline-block mt-8 hover:bg-yellow hover:text-white hover:border-yellow
    }
      
  }


@media (max-width:800px) {
    .navbar {
        position:absolute;
        top:99%;
        left: 0;
        right: 0;
        background:#FFFFFF;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all .2s linear;
    }

    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .mobile-view {
        display: block;
        margin: 2rem 1.5rem;
    }
}